.my-masonry-grid {
  display: flex;
  margin-left: -16px;
}
.my-masonry-grid_column {
  padding-left: 16px;
}
.my-masonry-grid_column > img,
.my-masonry-grid_column > video {
  margin-bottom: 16px;
}
